.header {
  background-color: var(--primary-color);
  color: var(--footer-text-color);
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navLinks {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  gap: 20px;
}

.logo {
  font-size: 28px;
  font-weight: 700;
}

.navLinks a {
  color: var(--footer-text-color);
  padding: 8px 12px;
  font-size: 18px;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
}

.navLinks a:hover {
  background-color: var(--link-hover-color);
  color: var(--secondary-color);
  border-radius: 8px;
}


.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  align-items: center;
}

.nav a {
  color: var(--footer-text-color);
  padding: 10px 15px;
  font-size: 16px;
  transition: color 0.3s;
}

.nav a:hover {
  color: var(--link-hover-color);
}

.mainContent {
  padding: 20px;
  max-width: var(--max-width);
  margin: auto;
}


.postPreview {
  background: #fff;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.postList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.postLink {
  color: var(--accent-color);
  font-size: 18px;
}

.postLink:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.postList li {
  background: #fff;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.postList li a {
  color: var(--accent-color);
  font-size: 18px;
}

.postList li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
  text-align: center;
  padding: 20px;
  background: var(--footer-background-color);
  color: var(--footer-text-color);
  font-size: 14px;
}

.searchInput {
  padding: 10px;
  margin: 20px auto;
  display:block;
  width: calc(100% - 40px);
  border-radius: 20px;
  border: none;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Adjustments for medium and smaller screens */
@media (max-width: 700px) {
  .header {
    padding: 20px 10px;
  }

  .navLinks {
    flex-direction: column;
    padding: 10px 0;
  }

  .navLinks a {
    display: block;
    text-align: center;
    width: 100%;
    padding: 12px 0; /* More touch-friendly padding */
  }
}

@media (min-width: 701px) and (max-width: 1024px) {
  .header {
    padding: 25px 20px;
  }

  .navLinks {
    justify-content: space-around;
  }
}
